.pagination {
    margin-top: 30px;
    margin-bottom: 30px;
   li {
    display: inline-block;
    }
    a { 
        display: inline-block;
        text-align: center;
        width: 45px;
        line-height: 42px;
        height: 45px;
        border: 1px solid hsl(17, 99%, 56%);;
        border-radius: 30px;
        margin-right: 10px;
        cursor: pointer;
        color: #fe5f1e;
            &:hover {
                background-color: #fe5e1e;
                color: #fff;
            }
    }

    .selected {
        a {
            background-color: #fe5e1e;
            color: #fff;
        }
        
    }


    /* .selected {
        background-color: #fe5e1e;
        a {
            color: #fff;
        }     
    } */
    
}

