@import "vars";

@font-face {
    font-family: "SofiaPro";
    src: url('../assets/fonts/SofiaProBold.woff2') format('woff2'),
        url('../assets/fonts/SofiaProMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SofiaPro";
    src: url('../assets/fonts/SofiaProBold.woff2') format('woff2'),
        url('../assets/fonts/SofiaProBold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}