/* Breakpoints */
$smallMobile: 300px;
$mobile: 480px;
$horizonMobile: 900px;
$smallTablet: 730px;
$tablet: 959px;
$desktop: 1199px;
$ultra: 2500px;

$landscape: 1050px;
$landscapeMiddle: 668px;
$landscapeSmall: 500px;

/* Fonts */
$generalFont: "SofiaPro";
$modalFont: "";

/* Color */
$textColor: #4d4a4f;

$black: #000000;