.header {
    /* background-color:  #12076C; */
    background: #ffffff;
    
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 130px;
        font-size: 20px;

        a {
            //#D61FDA
            color: #CE8DF4;
            font-weight: 800;
            &:hover {
                color:#D61FDA;
                .header__link__count {
                    color:#D61FDA;
                }
            }
            
        }
        
    }
    &__logo {
    }
    &__logo__wrapper {
        display: flex;
        align-items: center;
    }
    &__logo__text {
        padding-left: 10px;
    }
    &__nav {
        flex: 1 0 auto;
    }
    &__menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer; 
        text-decoration: none; 
        
    }
    &__link {
        

    }
    &__user {

    }
    &__link__count {
        color: #CE8DF4; 
    }
}
